.userPageWrapper {
  background-color: rebeccapurple;
}

.userPageContent {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  padding: 0 150px 100px 150px;

  background-color: var(--color-5);
}

.userSections {
  display: flex;
  column-gap: 30px;
}

.backBtn {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: var(--color-2);
  cursor: pointer;

  padding: 20px 0;
}

.arrowLeftImg {
  margin-right: 10px;
}