.userPageContent {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  padding: 0 150px 100px 150px;

  background-color: var(--color-5);
}

.userSections {
  display: flex;
  column-gap: 30px;
}

.backBtn {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: var(--color-2);
  cursor: pointer;

  padding: 20px 0;
}

.arrowLeftImg {
  margin-right: 10px;
}

@media (max-width: 1250px) {
  .userPageContent {
    padding: 0 50px 100px 50px;
  }

  .userSections {
    justify-content: center;
  }
}

@media (max-width: 940px) {
  .userPageContent {
    padding: 0 30px 100px 30px;
  }
}

@media (max-width: 830px) {
  .userSections {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}